swagger: '2.0'
info:
  description: 'Graph based analytics API developed by JSI.'
  version: 1.0.0
  title: JSI Graph Based Analytics
  contact:
    email: miha.jenko@ijs.si
host: gba.ijs.si
basePath: /api/v1
schemes:
  - http
paths:
  /extractRelations:
    post:
      summary: Extract relations from a given text
      description: Extract relations from a given text.
      operationId: extractRelations
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Text and expected relation info
          required: true
          schema:
            $ref: '#/definitions/extractRelationsInput'
      responses:
        '200':
          description: OK
  /getEntityLabelInfo:
    get:
      summary: Get data associated with an entity label
      description: 'Get data associated with an entity label. Can return multiple Entity instances, because Entities can have the same entity label.'
      operationId: getEntityLabelInfo
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Entity info
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
  /getEntityNews:
    get:
      summary: Search EventRegistry news by Entity URI
      description: Search EventRegistry news by Entity URI.
      operationId: getEntityNews
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Entity info
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
  /getEntityRelations:
    get:
      summary: Get relation instances including this Entity URI
      description: Get relation instances including this Entity URI.
      operationId: getEntityRelations
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Entity info
          required: true
          schema:
            type: object
      responses:
        '200':
          description: successful operation
definitions:
  extractRelationsInput:
    type: object
    properties:
      text:
        type: string
        description: Document text to detect relations from
        example: >-
          Google is buying part of HTC smartphone team for $1.1 billion
      documentInfo:
        type: object
        description: Document source information, including this object commits results of this operation to the database
        properties:
          uri:
            type: string
            description: Document URI in the source corpus
            example: >-
              https://thenextweb.com/contributors/2018/03/17/facebook-will-carry-health-warning-within-five-years/
          canonicalUrl:
            type: string
            description: URL of document resource
            example: >-
              833343475
          sourceName:
            type: string
            description: Document source name
            example: Event Registry
        required: 
          - uri
    required:
      - text
