swagger: '2.0'
info:
  description: 'Graph based analytics API developed by JSI.'
  version: '1.0.0'
  title: JSI Graph Based Analytics
  contact:
    email: 'miha.jenko@ijs.si'
host: 'gba.ijs.si'
basePath: '/api/v1'
schemes:
  - http
paths:
  /extractRelations:
    post:
      summary: Extract relations from a given text
      description: 'Extract relations from a given text.'
      operationId: extractRelations
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          description: Text and expected relation info
          schema:
            $ref: '#/definitions/extractRelationsInput'
      responses:
        200:
          description: OK
definitions:
  extractRelationsInput:
    type: object
    properties:
      text:
        type: string
        description: Document text to detect relations from
        example: 'Google is buying part of HTC smartphone team for $1.1 billion'
      types:
        type: array
        items:
          type: string
          description: Relation label
          example: "acquisition"
        description: 'An array of relations to detect; empty defaults to detecting all available relations'
      documentInfo:
        type: object
        description: 'Document source information, including this object commits results of this operation to the database'
        properties:
          uri:
            type: string
            description: Document URI in the source corpus
            example: 'https://thenextweb.com/contributors/2018/03/17/facebook-will-carry-health-warning-within-five-years/'
          canonicalUrl:
            type: string
            description: URL of document resource
            example: '833343475'
          sourceName:
            type: string
            description: Document source name
            example: Event Registry
        required:
          - uri
        additionalProperties: false
    required:
      - text
    additionalProperties: false
